[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = git@github.com:freetype/freetype.git
[submodule "thirdparty/webgpu"]
	path = thirdparty/webgpu
	url = git@github.com:eliemichel/WebGPU-distribution.git
[submodule "thirdparty/miniaudio"]
	path = thirdparty/miniaudio
	url = git@github.com:mackron/miniaudio.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "thirdparty/FFmpeg"]
	path = thirdparty/FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
